.main-container {
    width:1000px;
    margin: 0 auto 0 auto;
}

.first-container {
    position: relative;
    width: 960px;
    height: 570px;
    margin-bottom: 130px;
    border: solid 4px;
}

#box_1 { 
	position: absolute;
	width: 200px;
	height: 200px;
  top: 0;
  left: 0;
	background: red;
}

#box_2 { 
	position: absolute;
	width: 200px;
	height: 200px;
  top: 0;
  right: 0;
	background: green;
}

#box_3 { 
	position: absolute;
	width: 200px;
	height: 200px;
	background: blue;
  left: 0;
  bottom: 0;
}

#box_4 {
	position: absolute;
	width: 200px;
	height: 200px;
	background: yellow;
  right: 0;
  bottom: 0;
}


.second-container{
    display: flex;
    width: 960px;
    height: 570px;
    margin-bottom: 130px;
    border: solid 4px;
}

#column_1 { 
	display: flex;
	width: 240px;
	height: 570px;
	background: red;
}

#column_2 { 
	display: flex;
	width: 240px;
	height: 570px;
	background: green;
}

#column_3 { 
	display: flex;
	width: 240px;
	height: 570px;
	background: blue;
}

#column_4 { 
	display: flex;
	width: 240px;
	height: 570px;
	background: yellow;
}


.third-container {
    width: 960px;
    border: solid 4px;
    padding: 20px;
}

#header{ 
	height: 120px;
	background: red;
}

.lower{
    display: flex;
    width: 960px;
    height: 425px;
}


#side_column { 
	display: flex;
	width: 175px;
	height: 395px;
	background: green;
}

#main { 
	display: flex;
	width: 730px;
	height: 395px;
	background: blue;
}
