* {
   box-sizing: border-box;
}

.main-container {
    width:1000px;
    margin: 0 auto 0 auto;
}

.promo-container {
    position: relative;
    background-image: url(main.jpeg);
    background-size: cover;
}

header {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    display:flex;
}

.branding{
    background-image: url(nature_fun_logo.png);
    background-size: cover;
    width: 250px;
    height: 50px;
    margin-left: auto;
    }

.pill-button {
    display: inline-block;
    background: black;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-left: auto;
}

.pill-button-pricing {
    display: inline-block;
    position: absolute;
    left: 130px;
    bottom:15px;
    background: black;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.promo{
    background: white;
    color: black;
    font-size: 24px;
}

/*Big Promo*/

#big-promo {
    padding-top: 600px;
}

.sign_up_today{
    width: 400px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right:  0;
    bottom: 0;
    background: black;
    color: white;
    text-align: center;
    }

.promo-message {
    width: 100;
    padding: 50px;
}

/*Product Features*/

.product-features, .product-buy-it-now{
    display: flex;
}

.feature {
    text-align: center;
    padding: 20px;
}

.feature-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.feature-image-1 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-image: url(green.jpeg);
    background-size: cover;
}

.feature-image-2 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-image: url(water.jpeg);
    background-size: cover;
}

.feature-image-3 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-image: url(desert.jpeg);
    background-size: cover;
}

.feature-image-4 {
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    background-image: url(stars.jpeg);
    background-size: cover;
}

.product-buy-it-now {
    align-items: center;
}

.product-info {
    text-align: right;
}

#product-reviews {
    background: skyblue;
    color: white;
    text-align: center;
    padding: 50px;
}

footer {
    display:flex;
    padding: 15px 10px 15px 10px;
    font-size: 12pt;
}

.footer-links {
flex: 1;
}

.footer-copyright{
    flex: 1;
    margin: 0;
    text-align: right;
}